<%= image_tag @question.photo.url%>
<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Image1:</strong>
  <%= @question.image1 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @question.image2 %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @question.image3 %>
</p>

<p>
  <strong>Image4:</strong>
  <%= @question.image4 %>
</p>

<p>
  <strong>Marks:</strong>
  <%= @question.marks %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @question.difficulty %>
</p>

<p>
  <strong>Level:</strong>
  <%= @question.level %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
