<div class="center">
<h1>Level <%= @ques[@number].level %></h1>
<%= image_tag @ques[@number].photo.url %>

<%= form_tag("game", method: "post") do %>
  <%= label_tag(:answer, "Answer: ") %>
  <%= text_field_tag(:answer) %>
  <%= hidden_field_tag(:correct, value = @ques[@number]["answer"]) %>
  <%= submit_tag("Go!") %>
<% end %>
</div>

<%= render 'layout' %>
