<!DOCTYPE html>
<html>
<head>
  <title>Picgame</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Picgame", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    '/' %></li>
              <% if user_signed_in? %>
              <li><%= link_to current_user.name, edit_user_registration_path%></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              <% else %>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
  </header>
<div class="container">
  <%= yield %>
</div>
</body>

<footer class="footer">
  <small>
    <a href="http://facebook.com/mehta.ib">Ishit Mehta</a>
  </small>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</footer>
</html>
